* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  padding: 2rem;
  button {
    width: 10rem;
    height: 2rem;
    border: none;
    color: white;
    background-color: #00C8B3;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.main {

  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  >img {
    max-width: 20rem;
  }

  .container {
    display: flex;
    background-color: #ffff;
    padding: 2rem;
    justify-content: center;
    width: 30rem;
    height: 30rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    margin: 5rem 5rem;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;  
      justify-content: center;
      
      > div {

        width: 20rem;
        margin-bottom: 1rem;

        p {
          color: #3333;
          padding-bottom: 0.5rem;
        }

        input {
     
          padding-left: 5px;
          width: 100%;
          border: 0;
          outline: 0;
          background: transparent;
          border-bottom: 1px solid #efeeed;
          color: #969696;
          transition: color 0.2s;
  
          &:focus {
            color: #333333;
            border-bottom: 1px solid #3333;
          }
  
        }

        span {
          color: #EB4A46;
          visibility: hidden;
          font-size: 14px;
        }

      }
      
      button {
        width: 15rem;
        height: 3rem;
        border: none;
        background-color: #00C8B3;
        color: white;
        border-radius: 9999px;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.7;
        }
      }

    }
  }

}


.loading-ring {
  display: inline-block;
  position: relative;
  width: 38px;
  height: 20px;
  visibility: hidden;
}
.loading-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 4px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loading-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.button-title {
  position: relative;
  top: -13px
}

@media screen and (max-width: 380px) {

  .main {
    .container {
      width: 19rem;

      form {
        width: 19rem;

        > div{
          width: 15rem;
        }

        button {
          width: 10rem;
        }
      }
    }
  }
}






.users-container {

  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  >img {
    max-width: 20rem;
    margin-top: 5rem;
  }

  .users-list {
    display: flex;
    background-color: #ffff;
    padding: 2rem;
    justify-content: left;
    flex-direction: column;
    width: 30rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    margin: 5rem 5rem;
    

    >p {
      color: #969696;
      padding-bottom: 2rem;
    }
  }

}


.user {

  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 0.7rem;
  margin: 0.5rem;
  border-radius: 10px;
  background-color: #FDFDFD;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: #F8F8F8;
  }

  >a {
    width: min-content;
    align-self: start;
    margin-right: 20px;
    cursor: pointer;
    color: #939393;
    background: #F0F0F0;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.2rem;
    border-radius: 0.2rem;
    font-weight: bold;
    transition: filter 0.2s;
  }
  a:hover {
    filter: brightness(0.9)
  }

  .user-data {

    display: flex;
    flex-direction: column;

    >span {
      color: #969696;
      margin-right: 2px;
    }
  }

}